__pycache__
**/__pycache__
*.pyc
.git
docs/manual/images
*.tgz
*.tar
*.zip
.pytest_cache
data.kpkg
/test_order_state.json
/dashboard_active_order.json
/dashboard_settings.json
/order_config.json
/order_config.prod.json
